@model web3_tp_final.DTO.ConversationDTO

<div id="CurrentRecipient">
    @ViewBag.CurrentRecipient.UserName
</div>

<div id="CurrentConversation" class="container-fluid">
    @foreach (Message message in Model.Conversation)
    {
        <div class="d-block sap-chat-message @(message.Sender == ViewBag.CurrentUser.UserID ? "user-message" : "recipient-message")">
            <div class="sap-sent-message">
                @message.Content
            </div>
        </div>
    }
</div>

<div id="CurrentMessage" class="container-fluid">
    <input type="hidden" name="UserID" id="SenderID" value="@ViewBag.CurrentUser.UserID" />
    <input type="hidden" name="RecipientID" id="RecipientID" value="@Model.RecipientID" />
    <div class="row no-gutters">
        <div class="form-group col-11" style="padding-right: 20px">
            <textarea rows="1" id="NextMessage" class="form-control"></textarea>
        </div>
        <div class="form-group col-1">
            <button type="button" id="SendMessageToRecipient" onclick="SendConversationMessage()" disabled>
                Send
            </button>
        </div>
    </div>
</div>