@model List<Message>
@{
    ViewData["Title"] = "Chat";
    var sender = ViewBag.sender;
    var receiver = ViewBag.receiver;

}
<head>
    <link rel="stylesheet" href="~/css/Chat/chat.css" />
</head>
<div class="margin-div-principal" style="display: none;">
    <h1>Chat avec: @receiver.UserName</h1>

    <div class="row margin-div">
        <div class="col-2">Message</div>
        <div class="col-4">
            <input type="text" id="messageInput" />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" onClick="postMessage()" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <h2>Historique des messages</h2>
    <div class="row">
        <div class="col-6">
            <ul id="historique"></ul>
            @if (Model != null)
            {

                foreach (Message message in Model)
                {
                    string containerClass, textAlign, offset, username;
                    if (message.Recipient == sender.UserID)
                    {
                        containerClass = "container-chat darker";
                        textAlign = "text-right text-white";

                        offset = "col-md-6 offset-md-6";
                        username = sender.UserName;

                        <div class="row">
                            <div class="@offset">
                                <div class="@containerClass">

                                    <p class="sender @textAlign">@username</p>
                                    <p class="@textAlign">@message.Content</p>

                                </div>
                            </div>

                        </div>

                    }
                    if (message.Sender == sender.UserID)
                    {
                        containerClass = "container-chat";
                        textAlign = "text-left";
                        offset = "col-md-6";
                        username = receiver.UserName;

                        <div class="row">
                            <div class="@offset">
                                <div class="@containerClass">

                                    <p class="sender @textAlign">@username</p>
                                    <p class="@textAlign">@message.Content</p>

                                </div>
                            </div>

                        </div>
                    }

                }

            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <input type="text" id="senderInput" value="@sender.UserName" style="visibility:hidden" readonly="true" name="senderInput" />
        <input type="text" id="senderId" value="@sender.UserID" style="visibility:hidden" readonly="true" name="senderId" />
        <input type="text" id="receiverInput" value="@receiver.UserID" style="visibility:hidden" readonly="true" name="receiverInput" />
        <input type="text" id="userChat" value="@receiver.UserName" style="visibility:hidden" readonly="true" name="userChat" />
        <input type="text" id="timeStamp" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" style="visibility:hidden" readonly="true" name="timeStamp" />
        <input type="text" id="content" value="" style="visibility:hidden" readonly="true" name="content" />
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script>
    function postMessage() {
        var url = "https://localhost:44308/api/Messages"
        var userIdInt = parseInt(document.getElementById("senderId").value);
        var recipientIdInt = parseInt(document.getElementById("receiverInput").value);
        var content = document.getElementById("messageInput").value;
        var dateTime = document.getElementById("timeStamp").value;
        console.log(dateTime);
        var variable = {

            'content': content,
            'timeStamp': dateTime,
            'sender': userIdInt,
            'recipient': recipientIdInt,
            'userId': null,
            'user': null

        }

        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            datatype: 'json',
            data: JSON.stringify(variable),


            success: function (data) {
                console.log("Ajout du message réussi.");

            },
            error: function (data) {
                alert("Error: " + data.responseText);
            }
        });

    }

</script>
