@model web3_tp_final.Models.Appointment
@{
    User user = null;
    if (Model.Owner.UserID != ViewBag.CurrentUser.UserID)
    {
        user = Model.Owner;
    }
    else
    {
        user = Model.Sitter;
    }
}
<div class="container">
    <div id="@(Model.Owner.UserID != ViewBag.CurrentUser.UserID ? "OwnerInfoSection" : "SitterInfoSection")" class="col-12 sap-card">
        <div class="sap-card-header col-12">
            @(Model.Owner.UserID != ViewBag.CurrentUser.UserID ? "Owner Info." : "Sitter Info.")
        </div>
        <div class="sap-card-content col-12">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 sap-card-content-headings">
                        Username
                    </div>
                    <div class="col-6 sap-card-content-headings">
                        E-mail
                    </div>
                </div>
            </div>
            <div class="sap-card-content-info col-12">
                <div class="row">
                    <div class="col-6">
                        @user.UserName
                    </div>
                    <div class="col-6">
                        @user.Email
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6 sap-card-content-headings">
                        Address
                    </div>
                    <div class="col-6 sap-card-content-headings">
                        Phone Number
                    </div>
                </div>
            </div>
            <div class="sap-card-content-info col-12">
                <div class="row">
                    <div class="col-6">
                        @user.Address
                    </div>
                    <div class="col-6">
                        @user.PhoneNumber
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="AppointmentInfoSection" class="col-12 sap-card">
        <div class="col-12 sap-card-header">
            Appointment Info
        </div>
        <div class="sap-card-content">
            <div class="col-12">
                <div class="row">
                    <div class="col-5 row">
                        <div class="col-12 sap-card-content-headings">Date Start</div>
                        <div class="col-12 sap-card-content-info">@Model.StartDate</div>
                    </div>
                    <div class="col-2 w-100">

                    </div>
                    <div class="col-5 row">
                        <div class="col-12 sap-card-content-headings">Date End</div>
                        <div class="col-12 sap-card-content-info">@Model.EndDate</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br>

    <div id="PetsInfoSection" class="col-12">
        <div class="row">
            <div class="col-12">
                <h3 class="m-0">
                    Pets Info
                </h3>
            </div>
            <div class="col-12">
                <div class="row">
                    @foreach (Pet pet in Model.Pets)
                    {
                        <div class="col-4">
                            <div class="card p-0 sap-card">
                                <div class="col-12 sap-card-header">
                                    @pet.Name
                                </div>
                                <div class="col-12 pb-2 pl-0 pr-0">
                                    <img src="@(pet.Photo == null ? "~/images/doglogo.png" : String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(pet.Photo)))" alt="@(pet.Photo == null ? "Empty photo" : "Pet photo")">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-12" id="AppointmentDetailsFooter">
        @await Html.PartialAsync("_appointment_details_footer", Model)
    </div>
</div>
<script>
    $('#website-body').removeClass("container");
    $('#website-body').addClass('website-background');

    function StarGlow(rating) {
        $('.StarsJs').each(function(){
            if ($(this).data('rating') <=  rating)
                $(this).addClass('fas').removeClass('far');
            else
                $(this).addClass('far').removeClass('fas');
        });
    }

    function StarHide() {
        var currentStars = $('#stars').val();
        $('.StarsJs').each(function () {
            if ($(this).data('rating') > currentStars)
                $(this).addClass('far').removeClass('fas');
            else
                $(this).addClass('fas').removeClass('far');
        });
    }

    function ChangeAppointmentStatus(status) {
        $.ajax({
            url: '/Users/@ViewBag.CurrentUser.UserID/Appointments/@Model.AppointmentID/UpdateAppointmentStatus',
            type: 'get',
            dataType: 'html',
            data: {
                newStatus: status
            },
            success: function (data) {
                $('#AppointmentDetailsFooter').html(data);
            },
            error: function (xhr) {
                alert("Error on ajax");
            }
        });
    }
</script>