@model web3_tp_final.Models.Appointment
@{
    User user = null;
    if (Model.Owner.UserID != ViewBag.CurrentUser.UserID)
    {
        user = Model.Owner;
    }
    else
    {
        user = Model.Sitter;
    }
}
<div class="container">
    <div id="@(Model.Owner.UserID != ViewBag.CurrentUser.UserID ? "OwnerInfoSection" : "SitterInfoSection")" class="col-12 section-bubble">
        <div class="row">
            <div class="col-12">
                <h3>@(Model.Owner.UserID != ViewBag.CurrentUser.UserID ? "Owner Info." : "Sitter Info.")</h3>
            </div>

            <div class="col-12 section-bubble-content">
                <div class="row">
                    <div class="col-12">
                        <class class="row">
                            <div class="col-6">
                                Username:
                            </div>
                            <div class="col-6">
                                @user.UserName
                            </div>
                        </class>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                E-mail:
                            </div>
                            <div class="col-6">
                                @user.Email
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                Address:
                            </div>
                            <div class="col-6">
                                @user.Address
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                Phone Number:
                            </div>
                            <div class="col-6">
                                @user.PhoneNumber
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="AppointmentInfoSection" class="col-12 section-bubble">
        <div class="row">
            <div class="col-12">
                <h2>Appointment Info</h2>
            </div>

            <div class="col-12 section-bubble-content">
                <div class="row">
                    <div class="col-6">
                        Date Start
                    </div>
                    <div class="col-6">
                        Date End
                    </div>

                    <div class="col-6">
                        @Model.StartDate
                    </div>
                    <div class="col-6">
                        @Model.EndDate
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br>

    <div id="PetsInfoSection" class="col-12">
        <div class="row">
            <div class="col-12">
                <h3>
                    Pets Info
                </h3>
            </div>
            <div class="col-12">
                <div class="row">
                    @foreach (Pet pet in Model.Pets)
                    {
                        <div class="col-4 m-3">
                            <div class="card p-0 section-bubble-content">
                                <div class="col-12 card-header">
                                    @pet.Name
                                </div>
                                <div class="col-12 pb-2 pl-0 pr-0">
                                    <img src="@(pet.Photo == null ? "~/images/doglogo.png" : String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(pet.Photo)))" alt="@(pet.Photo == null ? "Empty photo" : "Pet photo")">
                                </div>
                                <div class="col-12 pt-2 pb-2">
                                    Date de naissance: @pet.BirthYear
                                </div>
                                <div class="col-12 pt-2 pb-2">
                                    Espèce: @pet.SpecieString
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-12" id="AppointmentDetailsFooter">
        @await Html.PartialAsync("_appointment_details_footer", Model)
    </div>
</div>
<script>
    $('#website-body').removeClass("container");
    $('#website-body').addClass('website-background');

    function StarGlow(rating) {
        $('.StarsJs').each(function(){
            if ($(this).data('rating') <=  rating)
                $(this).addClass('fas').removeClass('far');
            else
                $(this).addClass('far').removeClass('fas');
        });
    }

    function StarHide() {
        var currentStars = $('#stars').val();
        $('.StarsJs').each(function () {
            if ($(this).data('rating') > currentStars)
                $(this).addClass('far').removeClass('fas');
            else
                $(this).addClass('fas').removeClass('far');
        });
    }

    function ChangeAppointmentStatus(status) {
        $.ajax({
            url: '/Users/@ViewBag.CurrentUser.UserID/Appointments/@Model.AppointmentID/UpdateAppointmentStatus',
            type: 'get',
            dataType: 'html',
            data: {
                newStatus: status
            },
            success: function (data) {
                $('#AppointmentDetailsFooter').html(data);
            },
            error: function (xhr) {
                alert("Error on ajax");
            }
        });
    }
</script>