@model web3_tp_final.Models.Appointment
@{
    User user = null;
    if (Model.Owner.UserID != ViewBag.CurrentUser.UserID)
    {
        user = Model.Owner;
    }
    else
    {
        user = Model.Sitter;
    }
}
<div class="container">
    <div id="@(Model.Owner.UserID != ViewBag.CurrentUser.UserID ? "OwnerInfoSection" : "SitterInfoSection")" class="col-12 section-bubble">
        <div class="row">
            <div class="col-12">
                <h3>@(Model.Owner.UserID != ViewBag.CurrentUser.UserID ? "Owner Info." : "Sitter Info.")</h3>
            </div>

            <div class="col-12 section-bubble-content">
                <div class="row">
                    <div class="col-12">
                        <class class="row">
                            <div class="col-6">
                                Username:
                            </div>
                            <div class="col-6">
                                @user.UserName
                            </div>
                        </class>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                E-mail:
                            </div>
                            <div class="col-6">
                                @user.Email
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                Address:
                            </div>
                            <div class="col-6">
                                @user.Address
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                Phone Number:
                            </div>
                            <div class="col-6">
                                @user.PhoneNumber
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="AppointmentInfoSection" class="col-12 section-bubble">
        <div class="row">
            <div class="col-12">
                <h2>Appointment Info</h2>
            </div>

            <div class="col-12 section-bubble-content">
                <div class="row">
                    <div class="col-6">
                        Date Start
                    </div>
                    <div class="col-6">
                        Date End
                    </div>

                    <div class="col-6">
                        @Model.StartDate
                    </div>
                    <div class="col-6">
                        @Model.EndDate
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br>

    <div id="PetsInfoSection" class="col-12">
        <div class="row">
            <div class="col-12">
                <h3>
                    Pets Info
                </h3>
            </div>
            <div class="col-12">
                <div class="row">
                    @foreach (Pet pet in Model.Pets)
                    {
                        <div class="col-4 m-3">
                            <div class="card p-0 section-bubble-content">
                                <div class="col-12 card-header">
                                    @pet.Name
                                </div>
                                <div class="col-12 pb-2 pl-0 pr-0">
                                    <img src="@(pet.Photo == null ? "~/images/doglogo.png" : String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(pet.Photo)))" alt="@(pet.Photo == null ? "Empty photo" : "Pet photo")">
                                </div>
                                <div class="col-12 pt-2 pb-2">
                                    Date de naissance: @pet.BirthYear
                                </div>
                                <div class="col-12 pt-2 pb-2">
                                    Espèce: @pet.SpecieString
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if((ViewBag.CurrentUser.UserID == Model.Owner.UserID) || (Model.Reviews != null && Model.Reviews.Count > 0))
    {
        <div id="ReviewSection" class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3>Review</h3>
                </div>
                <div class="col-12 section-bubble-content">
                    @if ((ViewBag.CurrentUser.UserID == Model.Owner.UserID) && (Model.Reviews == null || Model.Reviews.Count == 0))
                    {
                        <form action="/Users/@ViewBag.CurrentUser.UserID/Appointments/@Model.AppointmentID/Review" method="post">
                            <div class="row">
                                <input type="hidden" id="AppointmentId" name="AppointmentId" value="@Model.AppointmentID" />
                                <input type="hidden" id="UserId" name="UserId" value="@ViewBag.CurrentUser.UserID" />
                                <div class="form-group col-12">
                                    <label for="stars">Rating</label>
                                    <input type="hidden" id="stars" name="Stars" value="0" />
                                    @for (int i = 1; i < 6; i++)
                                    {

                                        <i class="far fa-star StarsJs" data-rating="@i" onmouseover="StarGlow(@i)" onmouseleave="StarHide()" onclick="$('#stars').val(@i);"></i>
                                    }
                                </div>
                                <div class="form-group col-12">
                                    <textarea class="form-control" name="Comment"></textarea>
                                </div>
                                <div class="form-group col-12">
                                    <input type="submit" value="Submit Review" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    }
                    else if (Model.Reviews != null && Model.Reviews.Count > 0)
                    {
                        @foreach (Review review in Model.Reviews)
                        {
                            <div class="row">
                                <div class="col-12">
                                    Rating:
                                    @for (int i = 1; i < 6; i++)
                                    {
                                        @if (i > review.Stars)
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    }
                                </div>
                                <div class="col-5">
                                    Comment by @Model.Owner.UserName:
                                </div>
                                <div class="col-7">
                                    @review.Comment
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
<script>
    $('#website-body').removeClass("container");
    $('#website-body').addClass('website-background');

    function StarGlow(rating) {
        $('.StarsJs').each(function(){
            if ($(this).data('rating') <=  rating)
                $(this).addClass('fas').removeClass('far');
            else
                $(this).addClass('far').removeClass('fas');
        });
    }

    function StarHide() {
        var currentStars = $('#stars').val();
        $('.StarsJs').each(function () {
            if ($(this).data('rating') > currentStars)
                $(this).addClass('far').removeClass('fas');
            else
                $(this).addClass('fas').removeClass('far');
        });
    }
</script>