@model IEnumerable<web3_tp_final.Models.Appointment>
<div class="container">
    <h1>
        My Appointments
    </h1>
    <table>
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Star Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Sitter
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (Appointment appointment in Model)
            {
                <tr>
                    <td>@appointment.Status</td>
                    <td>@appointment.StartDate</td>
                    <td>@appointment.EndDate</td>
                    <td><a asp-controller="Users" asp-action="Details" asp-route-id="@appointment.Sitter.UserID">@appointment.Sitter.UserName</a></td>
                    <td><a href="/Users/@ViewBag.CurrentUserID/Appointments/@appointment.AppointmentID">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>