@model web3_tp_final.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoURI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoURI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBeingSitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBeingSitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SittingStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SittingStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SittingEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SittingEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
