@model web3_tp_final.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class="col-sm-2">
            Photo
        </dt>
        <dd class="col-sm-10">
            @{
                string imgSrc = "/images/happy.png";
                if (Model.Photo != null)
                {
                    var base64 = Convert.ToBase64String(Model.Photo);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
            }
            <img src=@imgSrc />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
